<!DOCTYPE html>
<html>
  <head>
    <title>Custom Platform Node Sample App</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <script src="/public/js/bootstrap.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default">
      <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sample App</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="dashboard">
        <div class="row">
         <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>You have successfully deployed an app to your Custom Beanstalk platform.</p>
            <p><a class="btn btn-primary btn-lg" href="http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/GettingStarted.html" role="button" target="_blank">Learn more <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></p>
            </div>
        </div>
      </div>
    </div>
  
